h1 {
    text-align: center;
    font-size: 100px;
}

.loginSpacing {
    text-align: center;
    font-size: 100px;
}

.logoutSpacing {
    text-align: right;
    font-size: 20px;
}

.infoSpacing {
    text-align: right;
    font-size: 60px;
}

#login {
    font-size: 50px;
}

#logout {
    font-size: 20px;
}

#editinfo {
    font-size: 20px;
}


